---
import type { GameInterface } from '../interfaces/game.interface';

const game: GameInterface = Astro.props.game;
---

<li class="link-card astro">
	<a href={game.game_url}>
	    <img src={game.thumbnail} alt={game.title} width="100%" />
		<h2>
			{game.title}
			<span>&rarr;</span>
		</h2>
		<p>
			{game.short_description}
		</p>
	</a>
</li>
